.grid-container {
  background-color: #bbada0;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.grid-row {
  margin-bottom: 6px;

  &:last-of-type {
    margin: 0;
  }
}

.grid-cell {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: rgba(238, 228, 218, 0.35);

  &:last-of-type {
    margin: 0;
  }
}

.item {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
  background-color: brown;
}

.item-title {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
